footer {
  position: absolute;
  bottom: 0;
  /* border: 2px solid white; */
  left: 0;
  right: 0;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(1, 1, 1, 0.6);
}

ul {
  display: inline-flex;
  list-style-type: none;
  background-color: rgb(1, 1, 1, 0);
}

li {
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: inherit;
}

a {
  text-decoration: none;
  background-color: inherit;
  transition: all 0.3s linear;
}

a:hover {
  color: aqua;
}

span {
  background-color: inherit;
}
