<header>
  <img src="../../../assets/images/logo.png" alt="BuzzFeed" />
  <h2>{{ data.title }}</h2>
</header>

<div *ngIf="isPlaying" class="quiz">
  <section class="main-question">
    {{ current_question.question }}
  </section>
  <ul class="options-list">
    <div
      *ngFor="let option of current_question.options; let prop"
      (click)="handleOptionClick(prop)"
    >
      <li>{{ option["name"] }}</li>
    </div>
  </ul>
</div>

<section *ngIf="!isPlaying" class="result">
  <h3>o seu resultado é:</h3>
  <h5>
    {{ result }}
  </h5>
  <div class="btn-container">
    <a
      class="btn"
      [routerLink]="['/']"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <p>MENU</p>
    </a>
    <button class="btn" (click)="handleAgainClick()">DE NOVO</button>
  </div>
</section>
