header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  margin: 3vh auto;
}

.container {
  margin-top: 10vh;
}

.container > h2 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 40px;
}

.container > ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-around;
}

.container > ul > div > li > p {
  cursor: pointer;
  display: inline-flex;
}

.container > ul > div > li > img {
  cursor: pointer;
}

.card-img {
  width: 220px;
  height: 180px;
  border-radius: 40px;
}
